body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size:70px ;
    }
    h2{
        font-size:50px
    }
    .orange-color{
        color: orange;
    }
    .flexible-container{
        display: flex;
        margin-bottom: 200Px;
    }
    .half-width{
        width: 50%;
        padding-left: 2%;
    }
    .half-width img{
        width: 70%;
    }
    .Hire-me{
        text-decoration: none;
        background-image: linear-gradient(orange, red);
        font-weight: 700px;
        color: white;
        padding: 10px; 40px;
        
    }
    .top-banner{
        background-image:url(images/top-banner.png) ;
        background-repeat: no-repeat;
    }
    .dream-big{
        background-image: url(images/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
    }
    .half-width2{
        width: 50%;
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 20px;
        box-shadow: 10px 10px 30px yellowgreen;
        padding-left: 10;
        border-radius: 10px;
        
    }
    .experience-area{
        background-image: url(images/exp-bg.png);
        background-repeat: no-repeat;
        background-position: left;
    }
    #admin-support{
        border-left: 7px solid;
        border-image: linear-gradient (blue, cyan);
        border-image-slice: 1;
    }
    footer p{
        text-align: center;
    }